<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--CREATE TABLE `exam` (-->
<!--`id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT 'id',-->
<!--`lesson_id` bigint(20) DEFAULT NULL COMMENT '课程 id',-->
<!--`name` varchar(64) DEFAULT NULL COMMENT '考试名称',-->
<!--`create_time` datetime DEFAULT NULL COMMENT '创建时间',-->
<!--start_time DATETIME COMMENT '考试开始时间',-->
<!--`end_time` DATETIME DEFAULT NULL COMMENT '考试结束时间',-->
<!--`status` tinyint(4) DEFAULT NULL COMMENT '状态',-->
<!--PRIMARY KEY (`id`)-->
<!--) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='考试'-->
<mapper namespace="cn.edu.upc.study_online.dao.mapper.ExamMapper">
    <resultMap id="BaseResultMap" type="cn.edu.upc.study_online.dao.object.ExamDo">
        <result column="ID" property="id" jdbcType="BIGINT" javaType="Long"/>
        <result column="name" property="name" jdbcType="VARCHAR" javaType="String"/>
        <result column="lesson_id" property="lessonId" jdbcType="BIGINT" javaType="Long"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="status" property="status" jdbcType="TINYINT" javaType="Integer"/>
    </resultMap>

    <sql id="BaseColumnList">
        id, name, lesson_id, create_time, start_time, end_time
    </sql>


    <insert id="insert">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        insert into exam (
        <include refid="BaseColumnList"/>
        ) values (
        #{id,jdbcType=BIGINT},
        #{name, jdbcType=VARCHAR},
        #{lessonId, jdbcType=BIGINT},
        now(),
        #{startTime, jdbcType=TIMESTAMP},
        #{endTime, jdbcType=TIMESTAMP})
    </insert>


    <update id="update">
        UPDATE exam
        SET
        name=#{name, jdbcType=VARCHAR},
        start_time=#{startTime, jdbcType=TIMESTAMP},
        end_time=#{endTime, jdbcType=TIMESTAMP}
        WHERE id=#{id, jdbcType=BIGINT}
    </update>

    <delete id="delete">
        DELETE FROM exam
        WHERE id=#{id, jdbcType=BIGINT}
    </delete>
    <select id="queryById" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList"/>
        FROM exam
        WHERE id=#{id, jdbcType=BIGINT}
    </select>
    <select id="queryByLessonStatus" resultType="java.util.List" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList"/>
        FROM exam
        WHERE lesson_id=#{lessonId, jdbcType=BIGINT}
        AND status=#{status, jdbcType=TINYINT}
    </select>

    <select id="queryByLesson" resultType="java.util.List" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList"/>
        FROM exam
        WHERE lesson_id=#{lessonId, jdbcType=BIGINT}
    </select>
</mapper>