<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--/**-->
<!--* CREATE  TABLE exercise(-->
<!--* id BIGINT PRIMARY KEY AUTO_INCREMENT COMMENT 'id',-->
<!--* chapter_id BIGINT COMMENT '章节 id',-->
<!--* name VARCHAR(64) COMMENT '练习名称',-->
<!--* create_time DATETIME COMMENT '创建时间'-->
<!--* ) COMMENT '练习';-->
<!--*/-->
<mapper namespace="cn.edu.upc.study_online.dao.mapper.ExerciseMapper">
    <resultMap id="BaseResultMap" type="cn.edu.upc.study_online.dao.object.ExerciseDo">
        <result column="ID" property="id" jdbcType="BIGINT" javaType="Long"/>
        <result column="name" property="name" jdbcType="VARCHAR" javaType="String"/>
        <result column="chapter_id" property="chapterId" jdbcType="BIGINT" javaType="Long"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>

    <sql id="BaseColumnList">
        id, name, cbapter_id, create_time
    </sql>

    <insert id="insert">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        insert into exercise (
        <include refid="BaseColumnList"/>
        ) values (
        #{id,jdbcType=BIGINT},
        #{name, jdbcType=VARCHAR},
        #{chapterId, jdbcType=VARCHAR},
        now()
    </insert>

    <update id="update">
        UPDATE exercise
        SET
        name=#{name, jdbcType=VARCHAR},
        chapter_id=#{chapterId, jdbcType=BIGINT},
    </update>

    <delete id="delete">
        DELETE FROM exercise
        WHERE id=#{id, jdbcType=BIGINT}
    </delete>
    <select id="queryById" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList"/>
        FROM exercise
        WHERE id=#{id, jdbcType=BIGINT}
    </select>
    <select id="queryByChapter" resultType="java.util.List" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList"/>
        FROM exercise
        WHERE chapter_id=#{chapterId, jdbcType=BIGINT}
    </select>
</mapper>